/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 70px;
  /*background-color: #f5f5f5;*/
}

#footer hr {
  margin:0;
}

p.pcopy {
  margin: 0;
  padding: 0;
  font-size: 11px;
}
p.phelp {
  margin-top: 5px;
  padding: 0;
  font-size: 11px;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  /*max-width: 680px;*/
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}